.vertical-divider {
    border-left: 1px solid #ddd;
    height: 24px;
    margin: 0 15px;
  }
  
  .notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
  }
  
  /* For smaller screens */
  @media (max-width: 991.98px) {
    .vertical-divider {
      display: none;
    }
    
    .navbar-collapse {
      text-align: center;
    }
  
    .navbar-toggler {
      margin-left: auto;
    }
  
    .navbar-brand {
      margin-right: auto;
    }
  }
  